<hr>

<footer class="py-5 bg-white border-top mt-5">
    <div class="container text-center text-muted">
        <p class="mb-0">&copy; <%= new Date().getFullYear() %> SmartLib MVC System. All rights reserved.</p>
    </div>
</footer>


</body>
</html>
