<%- include('partials/header', { title: 'Error' }) %>
<%- include('partials/navbar') %>

<div class="container text-center my-5">
    <h1 class="display-4 text-danger">Oops!</h1>
    <p class="lead"><%= message || "Something went wrong." %></p>
    <a href="/" class="btn btn-primary mt-3">Go Back Home</a>
</div>

<%- include('partials/footer') %>